<head>
  <title>Prudent - Student Professor Forum</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Students</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Course</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>001</td>
          <td>Anirudh K</td>
          <td>ak@gmail.com</td>
          <td>Computer Science</td>
        </tr>
        <tr>
          <td>002</td>
          <td>Gagan Kai</td>
          <td>gk@gmail.com/td>
          <td>Mathematics</td>
        </tr>
        <tr>
          <td>003</td>
          <td>Pramod</td>
          <td>prm@gmail.com</td>
          <td>Physics</td>
        </tr>
      </tbody>
    </table>
    ><br><h1>Professors</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Course</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>001</td>
          <td>Anirudh K</td>
          <td>ak@gmail.com</td>
          <td>Computer Science</td>
        </tr>
        <tr>
          <td>002</td>
          <td>Gagan Kai</td>
          <td>gk@gmail.com/td>
          <td>Mathematics</td>
        </tr>
        <tr>
          <td>003</td>
          <td>Pramod</td>
          <td>prm@gmail.com</td>
          <td>Physics</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
